<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<aop:aspectj-autoproxy />  
	
	<context:component-scan base-package="com.library"></context:component-scan>
	
	<!-- Bean Definitions -->
	<!--  
	
	<bean id="bookRepository"
		class="com.library.repository.BookRepository" />
	<bean id="bookService" class="com.library.service.BookService">
		<property name="bookRepository" ref="bookRepository" />
	</bean>
	
	-->
	
	<!-- Constructor Dependency Injection -->
	<bean id="bookRepository"
		class="com.library.repository.BookRepository" />
	
	<bean id="bookService" class="com.library.service.BookService">
		<constructor-arg name="bookRepository" ref="bookRepository" />
	</bean>
	
	<!-- Aspect Bean Definition -->
	<bean id="loggingAspect" class="com.library.aspect.LoggingAspect" />


</beans>
